.AboutContent{
    padding: 0 10%;

    .AboutSendoo{
        padding: 20px 0;
        font-size: 22px;
        font-family: sans-serif;
        letter-spacing: 1px;
        text-align: center;

        #Sendoo{
            color: #4ed883;
            font-weight: bold;
            font-size: 44px;
        }
    }
    img{
        width: 100%;
    }

}

h3.MuiTypography-root.titleAbout.MuiTypography-h3 {
    position: absolute;
    top: 36%;
    color: #ffffff;
}