body{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.MuiFormLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated{
    background-color: #ffffff !important;
    padding: 0 10px !important;
}

.GridMember:hover{
    img{
        filter: grayscale(0) !important;
    }
}

.LinkContact:hover{
    background-color: green;
    color: #ffffff !important;
}

a[name="LinkSeeMore"]:hover{
    transition: all ease .3s;
    svg{
        margin-left: 10px;
        transition: all ease .3s;
    }
}

.PostItem:hover{
    transform: scale(.9,.9);
    transition: all ease .3s;
}

//Page About
h3.titleAbout {
    position: absolute;
    top: 30%;
    color: #ffffff;
}



//ONLINE & OFFLINE
.divStatus{
    display: flex;
    margin-bottom: 20px;
}
.status {
    position: relative;
    top: 80%;
    left: -25%;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #ccc;
}
  
.status.online {
    background-color: greenyellow;
}
  
.status.offline {
    background-color: #f15c4f;
}


//******Page Category******//
#moreCategory #navbar-fixed{
    top: 0;
}

.categoryFlexDivider{
    // background-color: yellow;
    display: flex;
    margin-top: 40px;
}

.categoryFlexLeft{
    // background-color: aqua;
    flex: 5;
    padding-left: 4%;
    padding-right: 4%;
}

.categoryFlexRight{
    // background-color: orange;
    flex: 1;
    padding-top: 30px;
}


@media only screen and (max-width: 480px) {
   .categoryFlexDivider{
       flex-direction: column-reverse;
       padding-left: 4%;
   }


   /******Single Post******/
   .divImgPost{
       height: 300px !important;
   }
   .divImgPost > img{
       height: 100% !important;
   }
}