body{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.MuiFormLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated{
    background-color: #ffffff !important;
    padding: 0 10px !important;
}

.GridMember:hover{
    img{
        filter: grayscale(0) !important;
    }
}

.LinkContact:hover{
    background-color: green;
    color: #ffffff !important;
}

a[name="LinkSeeMore"]:hover{
    transition: all ease .3s;
    svg{
        margin-left: 10px;
        transition: all ease .3s;
    }
}

.PostItem:hover{
    transform: scale(.9,.9);
    transition: all ease .3s;
}

//Page About
h3.titleAbout {
    position: absolute;
    top: 30%;
    color: #ffffff;
}



//ONLINE & OFFLINE
.divStatus{
    display: flex;
    margin-bottom: 20px;
}
.status {
    position: relative;
    top: 80%;
    left: -25%;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #ccc;
}
  
.status.online {
    background-color: greenyellow;
}
  
.status.offline {
    background-color: #f15c4f;
}

// Handle Message FORM
.divHandleMessage{

    p{
        text-align: center;
        font-size: 18px;
        padding: 10px;
        transform: all ease .3s;
    }

    .paraSuccess{
        background-color: rgb(41, 240, 23);
    }

    .paraError{
        background-color: #f05;
        color: #fff;
    }
}

.LoginPage.divHandleMessage p{
    font-size: 15px;
}


//******Page Category******//
#moreCategory #navbar-fixed{
    top: 0;
}

.categoryFlexDivider{
    // background-color: yellow;
    display: flex;
    margin-top: 40px;
}

.categoryFlexLeft{
    // background-color: aqua;
    flex: 5;
    padding-left: 4%;
    padding-right: 4%;
}

.categoryFlexRight{
    // background-color: orange;
    flex: 1;
    padding-top: 30px;
}


@media only screen and (max-width: 480px) {
   .categoryFlexDivider{
       flex-direction: column-reverse;
       padding-left: 4%;
   }


   /******Single Post******/
   .divImgPost{
       height: 300px !important;
   }
   .divImgPost > img{
       height: 100% !important;
   }
}

// ********Update Account******/
.containerAddFile{
    margin: 40px 0;
    padding-left: 0 !important;
    margin-left: 0 !important;

    label{
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: 1px solid transparent;
        border-radius: 6px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 1px;
    }
    #iconPicture{
        margin-right: 10px;
    }

    label:hover{
        background-color: rgb(32, 102, 32);
    }
}


// *******WRITE POST CSS**********

.imagePost{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 30vh;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 black;
}

.divInputImageArticle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 20px;

    label{
        background: #24A19C;
        color: white;
        padding: 15px;
        cursor: pointer;
        border-radius: 4px;
    }
}



//************POSTS LIST RESULT ACCOUNT**********
.theadPost{
    th{
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }
}
.tbodyPost{
    tr{
        border-bottom: 1px solid rgb(219, 218, 218);
    }
    td{
        font-size: 16px;
        border-bottom: none;
        letter-spacing: 1px;
    }
    td:nth-child(3){
        text-transform: uppercase;
    }
    #titleValue a,#bodyValue{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 66px;
        -webkit-line-clamp: 2;
    }
    #titleValue a{
        text-decoration: none !important;
        color: rgb(54, 39, 39);
        transition: all ease .3s;
        height: 50px;
    }
    #titleValue a:hover{
        color: #f05;
    }
} 





// **********TABLETTE**********
@media only screen and (max-width:768px) {
    nav a{
        font-size: 12px;
    }

    header > div{
        padding: 0;
        width: 100% !important;

        h6{
            flex: 1;
        }
        nav{
            flex: 4;
        }
        .divUserConnected{
            flex: 1;

            img{
                display: none;
            }
        }
    }

    .HomeContainer{
        flex-direction: column-reverse;

        .HomeCategoryList{
            padding-left: 4%;
            margin-bottom: 40px;
        }
    }

    .categoryFlexDivider{
        flex-direction: column-reverse;

        .categoryFlexRight{
            padding-left: 4%;
            margin-bottom: 40px;
        }
    }

    .ContactContainer .FormContact{
        padding: 50px 4% !important;
    }


    #teams{
        justify-content: flex-start !important;
        align-items: flex-start;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        div{
            width: 20% !important;
            margin: 20px 25px !important;
        }
    }

}