footer{
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    color: #fff;
    font-family: sans-serif;
    margin-top: 80px;


    .SocialLinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
        width: 100%;
        background-color: gainsboro;
    }

    .TextFooter{
        background-color: rgb(2, 2, 49);
        width: 100%;
        text-align: center;
        padding: 40px;
    }
    .TextFooter p{
        margin-bottom: 0;
    }
    
    #Discord,#Github,#Linkedin,#Whatsapp,#Youtube{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
    }

    #Discord{
        color: rgb(59, 59, 124);
    }

    #Github{
        color: white;
        text-decoration: none;
    }

    #Linkedin{
        color: rgb(10, 52, 97);
        text-decoration: none;
    }

    #Whatsapp{
        color: green;
        text-decoration: none;
    }

    #Youtube{
        color: red;
        text-decoration: none;
    }

}