.WriteContainer{
    padding: 0px 14%;
    margin-bottom: 200px;

    img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        border: 1px solid transparent;
        border-radius: 20px;
    }


    .WriteForm{
        margin-bottom: 80px;
        .WriteFormGroup{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    }

    input#fileImage {
        display: none !important;
        visibility: hidden;
    }

    input#postTitle,
    textarea{
        padding: 10px 14px;
        border: 1px solid transparent;
        border-radius: 20px;
        outline: 0;
        transition: all ease .3s;
        font-family: sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
    }

    input[type="text"]{
        margin-top: 10px;
        font-weight: bold;
        font-size: 24px !important;
    }

    textarea{
        height: 140px;
        resize: none;
    }

    button.btnPublier{
        padding: 10px;
        margin-top: 20px;
        width: 140px;
        text-align: center;
        cursor: pointer;
        background-color: darkslategrey;
        color: #ffffff;
        float: right;
        border: 1px solid transparent;
        text-transform: uppercase;
        border-radius: 4px;
        transition: all ease .4s;
        font-weight: bold;
        letter-spacing: 1px;
    }

    button.btnPublier:hover{
        box-shadow: 0 4px 4px 0 #000;
        transform: scale(.9,.9);
    }

}